:root {
  --heading-font: 'Luckiest Guy', cursive;
  font-family: 'Comic Neue', cursive;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #004d40;
  background-color: #e0f7fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}